.inputbox {
  border: none;
  border-bottom: 2px solid blue;
}

.inputcontainer {
  margin: auto;
}

.tableoutput {
  overflow-y: scroll;
  height: 400px;
}

.clearAll {
  display: flex;
  justify-content: space-between;
}
